@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .row {
    @apply grid  gap-4 min-w-0 overflow-x-scroll  auto-cols-max grid-flow-col  overflow-y-hidden
  }
  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    
    border-bottom: 6px solid black;
  }
}

.darker {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}